<!-- form handling -->
<form id="add-todo" action="/api/todo" method="POST">
    <div class="new_todo">
        <div class="form-group">
            <label for="title" class="text-light">Title</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="title" value="" placeholder="Todo 1">
        </div>
        <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" name="description" value="" placeholder="This task is to submit week 7 assignment">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form> 